.blog-section {
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}
.blog-section .blog-section-title .title {
    font-family: "Agency FB";
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 2px 4.8px rgba(30, 29, 50, 0.3);
    text-transform: uppercase;
    color: white;
}
.blog-section .blog-section-title .subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.045;
    text-shadow: 0 2px 4.8px rgba(30, 29, 50, 0.3);
    color: #c2d4f8;
    font-family: "Agency FB";
    font-size: 88px;
    font-weight: 700;
    text-transform: uppercase;
    text-overflow: ellipsis;
}
.blog-section .blog-wrap {
    display: block;
}
.blog-section a {
    text-decoration: none;
}
.blog-section .blog-wrap .img-blog{
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.blog-text {
    background-color: #292845;
    padding: 60px 60px 0 60px;
    height: 343.4px
}
.blog-text .table {
    font-size: 14;
    font-weight: 700;
    text-transform: uppercase;
}
.blog-section .blog-text .title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: "Agency FB";
    text-transform: uppercase;
    text-align: left;
}
.mt20 {
    margin-top: 20px;
}
